In [5]:
import pandas as pd
import numpy as np
import json
from scipy.spatial import KDTree

In [18]:
df = pd.read_csv('data/ep187_electrodes.csv')
df.head()

,electrode_number,E_EEG,E_Brain,X,Y,Z,position_marker
0,11,E11,SF1,60.286774,160.824158,110.660850,Y
1,12,E12,SF2,55.977646,158.249695,112.236534,Y
2,13,E13,SF3,51.211723,155.255463,116.424690,Y
3,14,E14,SF4,48.487968,151.473511,121.146462,Y
4,15,E15,SF5,44.113647,149.526535,128.973816,Y

In [19]:
x = []
y = []
z = []
positions = []

In [20]:
for index, row in df.iterrows():
#     pos = json.loads(row.position)
    positions.append([row.X,row.Y,row.Z])
#     x.append(row.X)
#     y.append(row.Y)
#     z.append(row.Z)

In [21]:
df['position'] = positions
# df['y'] = y
# df['z'] = z

In [22]:
df.head()

,electrode_number,E_EEG,E_Brain,X,Y,Z,position_marker,position
0,11,E11,SF1,60.286774,160.824158,110.660850,Y,"[60.28677368, 160.8241577, 110.6608505]"
1,12,E12,SF2,55.977646,158.249695,112.236534,Y,"[55.97764587, 158.2496948, 112.2365341]"
2,13,E13,SF3,51.211723,155.255463,116.424690,Y,"[51.21172333, 155.2554626, 116.4246902]"
3,14,E14,SF4,48.487968,151.473511,121.146462,Y,"[48.48796844, 151.4735107, 121.1464615]"
4,15,E15,SF5,44.113647,149.526535,128.973816,Y,"[44.11364746, 149.526535, 128.9738159]"

In [24]:
df.to_csv('data/ep187_electrodes_new.csv', index=False)

In [6]:
# from here do not need the codes
df2 = pd.read_csv('brain_new.csv')

In [7]:
df2 = df2.rename(columns={'Points:0': 'x', 'Points:1': 'y', 'Points:2': 'z' })
df2.head()

   Normals:0  Normals:1  Normals:2          x          y          z
0   0.098496  -0.357716  -0.928621  99.650002  88.247200  41.569401
1  -0.065635  -0.223418  -0.972511  98.919403  88.758202  41.424801
2   0.138644  -0.136587  -0.980878  99.701897  88.787903  41.447201
3  -0.234908  -0.157347  -0.959198  98.091301  89.319397  41.429001
4  -0.005564  -0.004576  -0.999974  98.757103  89.491699  41.338200

In [8]:
allPoints = []
for index, row in df2.iterrows():
    point = [row.x, row.y, row.z]
    allPoints.append(point)

In [9]:
NDIM = 3 # number of dimensions

# read points into array
a = np.array(allPoints)
# print(a)
# find 10 nearest points
tree = KDTree(a, leafsize=a.shape[0]+1)

newPoints = []
newX = []
newY = []
newZ = []

for position in positions:
    point = np.array(position)
    distances, ndx = tree.query([point], k=1)
    nearPoint = [a[ndx][0][0], a[ndx][0][1], a[ndx][0][2]]
    newPoints.append(nearPoint)
    newX.append(a[ndx][0][0])
    newY.append(a[ndx][0][1])
    newZ.append(a[ndx][0][2])

In [10]:
df['newX'] = newX
df['newY'] = newY
df['newZ'] = newZ
df['newPosition'] = newPoints