In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('data/ep187_electrodes_new.csv')

In [3]:
df.head()

,electrode_number,E_EEG,E_Brain,position,position_marker,x,y,z,newX,newY,newZ,newPosition
0,11,E11,PS1,"[138.115783691406,166.815368652344,110.1925659...",Y,138.115784,166.815369,110.192566,138.582001,164.065002,116.200996,"[138.5820007, 164.0650024, 116.2009964]"
1,12,E12,PS2,"[142.168121337891,181.290649414063,112.6060028...",Y,142.168121,181.290649,112.606003,136.712997,176.985992,121.097000,"[136.7129974, 176.9859924, 121.0970001]"
2,13,E13,PS3,"[141.510070800781,183.282073974609,121.5120697...",Y,141.510071,183.282074,121.512070,138.268997,179.369995,124.501000,"[138.2689972, 179.3699951, 124.5009995]"
3,19,E19,AT1,"[134.525161743164,137.630401611328,79.41387939...",Y,134.525162,137.630402,79.413879,134.684998,137.822998,78.492302,"[134.6849976, 137.822998, 78.49230194]"
4,20,E20,AT2,"[139.903259277344,145.456604003906,83.08189392...",Y,139.903259,145.456604,83.081894,140.056000,145.141007,84.123497,"[140.0559998, 145.1410065, 84.12349701]"

In [4]:
df2 = pd.read_csv('data/propagation/sample1.csv')

In [5]:
# df2.rename(columns={"from": "fromElec", "to": "toElec"}, inplace=True)
df2.head()

   start  end  frequency
0     11   39          1
1     11   51          1
2     11   59          1
3     11   60          1
4     11   62          1

In [6]:
dic = {}
for index, row in df.iterrows():
    dic[row.electrode_number] =  json.loads(row.position)

In [7]:
electrodeKeyList = list(dic.keys())

In [8]:
sampleList = []
for idx, row in df2.iterrows():
    if int(row["start"]) not in sampleList:
        sampleList.append(int(row["start"]))
    if int(row["end"]) not in sampleList:
        sampleList.append(int(row["end"]))
#     startPositions.append(int(dic[row["start"]]))
#     endPositions.append(int(dic[row["end"]]))

In [9]:
nodata = []
for sample in sampleList:
    if sample not in electrodeKeyList:
        nodata.append(sample)

In [10]:
print(sorted(sampleList))
print(sorted(electrodeKeyList))
print(sorted(nodata))

[11, 13, 14, 15, 16, 18, 19, 20, 22, 30, 31, 34, 36, 37, 39, 40, 41, 45, 48, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 100, 102, 104, 106, 108, 109, 110, 111, 112, 115, 116, 118, 119, 120, 122, 123, 124]
[11, 12, 13, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104]
[14, 15, 16, 18, 51, 71, 106, 108, 109, 110, 111, 112, 115, 116, 118, 119, 120, 122, 123, 124]

In [11]:
startPositions = []
endPositions = []
startElectrode = []
endElectrode = []
frequency = []

for idx, row in df2.iterrows():
#     print(int(row["start"]) not in nodata, int(row["start"]))
#     print(int(row["end"]) not in nodata, int(row["end"]))
    if (int(row["start"]) not in nodata) and (int(row["end"]) not in nodata):
        startPositions.append(dic[int(row["start"])])
        startElectrode.append(int(row['start']))
        endPositions.append(dic[int(row["end"])])
        endElectrode.append(int(row['end']))
        frequency.append(int(row['frequency']))

In [12]:
newSample = pd.DataFrame({
    'start': startElectrode,
    'startPosition': startPositions,
    'end': endElectrode,
    'endPosition': endPositions,
    'frequency': frequency
})

In [13]:
newSample.head()

,start,startPosition,end,endPosition,frequency
0,11,"[138.115783691406, 166.815368652344, 110.19256...",39,"[145.143127441406, 70.3753051757813, 155.92906...",1
1,11,"[138.115783691406, 166.815368652344, 110.19256...",59,"[147.387954711914, 154.761169433594, 144.27899...",1
2,11,"[138.115783691406, 166.815368652344, 110.19256...",60,"[148.658752441406, 145.612274169922, 144.97836...",1
3,11,"[138.115783691406, 166.815368652344, 110.19256...",62,"[153.248168945313, 128.083526611328, 150.41238...",1
4,11,"[138.115783691406, 166.815368652344, 110.19256...",72,"[158.27294921875, 102.543960571289, 160.457229...",1

In [14]:
newSample.to_csv('data/propagation/newSample1RealPosition.csv', index=False)