In [6]:
import pandas as pd
import json

In [7]:
df = pd.read_csv('data/ep187_electrodes_new.csv')

In [8]:
df.head()

,electrode_number,E_EEG,E_Brain,X,Y,Z,position_marker,position
0,11,E11,SF1,60.286774,160.824158,110.660850,Y,"[60.28677368, 160.8241577, 110.6608505]"
1,12,E12,SF2,55.977646,158.249695,112.236534,Y,"[55.97764587, 158.2496948, 112.2365341]"
2,13,E13,SF3,51.211723,155.255463,116.424690,Y,"[51.21172333, 155.2554626, 116.4246902]"
3,14,E14,SF4,48.487968,151.473511,121.146462,Y,"[48.48796844, 151.4735107, 121.1464615]"
4,15,E15,SF5,44.113647,149.526535,128.973816,Y,"[44.11364746, 149.526535, 128.9738159]"

In [31]:
df2 = pd.read_csv('data/propagation/sample3.csv')

In [32]:
# df2.rename(columns={"from": "fromElec", "to": "toElec"}, inplace=True)
df2.head()

   start  end  frequency
0     11   12          1
1     11   14          2
2     11   16          4
3     11   17          1
4     11   18          1

In [33]:
dic = {}
for index, row in df.iterrows():
    dic[row.electrode_number] =  json.loads(row.position)

In [34]:
electrodeKeyList = list(dic.keys())

In [35]:
sampleList = []
for idx, row in df2.iterrows():
    if int(row["start"]) not in sampleList:
        sampleList.append(int(row["start"]))
    if int(row["end"]) not in sampleList:
        sampleList.append(int(row["end"]))
#     startPositions.append(int(dic[row["start"]]))
#     endPositions.append(int(dic[row["end"]]))

In [36]:
nodata = []
for sample in sampleList:
    if sample not in electrodeKeyList:
        nodata.append(sample)

In [37]:
print(sorted(sampleList))
print(sorted(electrodeKeyList))
print(sorted(nodata))

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 30, 31, 33, 37, 39, 40, 41, 42, 45, 48, 51, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99, 100, 101, 102, 103, 104, 105, 106, 108, 109, 110, 111, 112, 113, 114, 116, 117, 118, 119, 120, 121, 123, 124]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124]
[]

In [38]:
startPositions = []
endPositions = []
startElectrode = []
endElectrode = []
frequency = []

for idx, row in df2.iterrows():
#     print(int(row["start"]) not in nodata, int(row["start"]))
#     print(int(row["end"]) not in nodata, int(row["end"]))
    if (int(row["start"]) not in nodata) and (int(row["end"]) not in nodata):
        startPositions.append(dic[int(row["start"])])
        startElectrode.append(int(row['start']))
        endPositions.append(dic[int(row["end"])])
        endElectrode.append(int(row['end']))
        frequency.append(int(row['frequency']))

In [39]:
newSample = pd.DataFrame({
    'start': startElectrode,
    'startPosition': startPositions,
    'end': endElectrode,
    'endPosition': endPositions,
    'frequency': frequency
})

In [40]:
newSample.head()

,start,startPosition,end,endPosition,frequency
0,11,"[60.28677368, 160.8241577, 110.6608505]",12,"[55.97764587, 158.2496948, 112.2365341]",1
1,11,"[60.28677368, 160.8241577, 110.6608505]",14,"[48.48796844, 151.4735107, 121.1464615]",2
2,11,"[60.28677368, 160.8241577, 110.6608505]",16,"[64.83947754, 153.8170471, 109.4194031]",4
3,11,"[60.28677368, 160.8241577, 110.6608505]",17,"[58.68668747, 152.7620544, 110.3483887]",1
4,11,"[60.28677368, 160.8241577, 110.6608505]",18,"[53.5224762, 150.5645752, 113.4942017]",1

In [41]:
newSample.to_csv('data/propagation/newSample3RealPosition.csv', index=False)